# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.idea/

node_modules
.vscode/

# linter
.solhint.json

# deployments
broadcast

lcov.info

.DS_Store

script/deploy_mainnet.sh
